@charset "UTF-8";

body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

/* ----------header------------------------------------------------------------------ */

.header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 1440px;
    height: 110px;
    z-index: 100;
}

.header img {
    position: absolute;
}

.header ul {
    display: flex;
    float: right;
    padding-top: 30px;
}

.header li {
    padding-right: 60px;
}

.header li a {
    font-size: 40px;
    color: white;
}

@media screen and (max-width:768px) {
    .header {
        height: 50px;
    }

    .header img {
        width: 3%;
    }

    .header_img h1 {
        font-size: 30px;
        top: 20%;
        left: 3%;
    }

    .header_img img {
        width: 100%;
    }

    .header ul {
        display: none;
    }
}


/* ----------/header------------------------------------------------------------------ */

/* ----------contact------------------------------------------------------------------ */

.contact_title {
    height: 300px;
    position: relative;
}

.hr7 {
    border-top: 5px solid #07ebfd;
    width: 20%;
    top: 60%;
    left: 25%;
    position: absolute;
    filter: drop-shadow(1px 2px 3px #07edfd8f);
}

.hr8 {
    border-top: 5px solid #07ebfd;
    width: 3%;
    position: absolute;
    top: 60%;
    filter: drop-shadow(1px 2px 3px #07edfd8f);
}

.contact_title h2 {
    font-size: 40px;
    position: absolute;
    top: 160px;
    left: 192px;
    text-shadow: 1px 2px 3px #808080;
}

.contact_title h3 {
    font-size: 20px;
    position: absolute;
    top: 210px;
    left: 205px;
    text-shadow: 1px 2px 3px #808080;
}

.contact_title img {
    position: absolute;
    top: 120px;
    left: 50px;
    filter: drop-shadow(1px 2px 3px #a8a8a8);
}

.contact_text {
    height: 200px;
}

.contact_text p {
    font-size: 24px;
    text-align: center;
    line-height: normal;
}

@media screen and (max-width:768px) {
    .contact_title h2 {
        top: 50%;
        left: 43%;
        font-size: 20PX;
        height: 100px;
    }

    .contact_title h3 {
        top: 60%;
        left: 42%;
        font-size: 16px;
    }

    .contact_title img {
        display: none;
    }

    .contact_text p {
        font-size: 15px;
    }

    .hr7 {
        width: 30%;
        top: 52%;
        left: 65%;
    }

    .hr8 {
        width: 30%;
        top: 52%;
        left: 7%;
    }
}

/* ----------/contact------------------------------------------------------------------ */

/* ----------form------------------------------------------------------------------ */

form {
    position: relative;
    height: 600px;
    text-align: center;
}

input {
    margin-bottom: 1.5rem;
    height: 50px;
    font-size: 20px;
    width: 800px;
}

textarea {
    font-size: 20px;
    height: 250px;
    width: 800px;
    margin-bottom: 20px;
}

button {
    height: 50px;
    width: 100px;
    background-color: #6beaf6;
    color: white;
    font-size: 24px;
    border-radius: 20px;
}

.name_title h2 {
    font-size: 24px;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    left: 125px;
}

.name_title p {
    width: 80px;
    background-color: #d9d9d9;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 15px;
    left: 220px;
}

.email_title h2 {
    font-size: 24px;
    opacity: 0.5;
    position: absolute;
    top: 90px;
    left: 30px;
}

.email_title p {
    width: 80px;
    background-color: #d9d9d9;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 90px;
    left: 220px;
}

.tel_title h2 {
    font-size: 24px;
    opacity: 0.5;
    position: absolute;
    top: 160px;
    left: 102px;
}

.inquiry_title h2 {
    font-size: 24px;
    opacity: 0.5;
    position: absolute;
    top: 230px;
    left: 7px;
}

.inquiry_title p {
    width: 80px;
    background-color: #d9d9d9;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 230px;
    left: 220px;
}

@media screen and (max-width:768px) {
    input {
        height: 40%;
        width: 70%;
        font-size: 10px
    }

    textarea {
        height: 100px;
        width: 70%;
        font-size: 10px
    }

    .name_title h2 {
        font-size: 10px;
        top: -4%;
        left: 14%;
    }

    .name_title p {
        font-size: 10px;
        width: 40px;
        top: -4%;
        left: 23%;
    }

    .email_title h2 {
        font-size: 10px;
        top: 10%;
        left: 14%;
    }

    .email_title p {
        font-size: 10px;
        width: 40px;
        top: 10%;
        left: 34%;
    }

    .tel_title h2 {
        font-size: 10px;
        top: 24%;
        left: 14%;
    }

    .inquiry_title h2 {
        font-size: 10px;
        top: 38%;
        left: 14%;
    }

    .inquiry_title p {
        font-size: 10px;
        width: 40px;
        top: 37.5%;
        left: 36%;
    }

    form {
        height: 300px;
    }

    button {
        height: 30px;
        width: 70px;
        font-size: 15px;
    }
}

/* ----------/form------------------------------------------------------------------ */