@charset "UTF-8";

body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #07ebfd;
}

/* ----------header------------------------------------------------------------------ */

.header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 1440px;
    height: 110px;
    z-index: 100;
}

.header ul {
    display: flex;
    float: right;
}


.header li {
    padding: 30px;
}

.header li a {
    font-size: 40px;
    color: white;
    display: inline-block;
}

.header_img {
    position: relative;
}

.header_img h1 {
    font-size: 50px;
    position: absolute;
    top: 150px;
    left: 50px;
    letter-spacing: 0.05em;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    background: linear-gradient(0deg, #58c6ff 0%, #07fb62 40%, #fce305 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:768px) {
    .header {
        height: 50px;
    }

    .header img {
        width: 3%;
    }

    .header_img h1 {
        font-size: 30px;
        top: 20%;
        left: 3%;
    }

    .header_img img {
        width: 100%;
    }

    .header ul {
        display: none;
    }
}

/* ----------/header------------------------------------------------------------------ */


/* ----------about------------------------------------------------------------------ */

.container_about_title {
    position: relative;
    height: 800px;
}

.container_about img {
    position: absolute;
    top: 23%;
    left: 8%;
    opacity: 0.9;
}

.hr1 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 17%;
    left: 2%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);
}

.hr2 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 17%;
    left: 63%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);
}

.about_title h2 {
    font-size: 40px;
    position: absolute;
    top: 13%;
    left: 38%;
    text-shadow: 1px 2px 3px #808080;
}

.about_title h3 {
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 41%;
    text-shadow: 1px 2px 3px #808080;
}

.about_title img {
    position: absolute;
    top: 10%;
    left: 52%;
    filter:drop-shadow(1px 2px 3px #a8a8a8);
}

.about_text {
    position: absolute;
    top: 35%;
    left: 65%;
}

.about_text h2 {
    font-size: 32px;
    position: absolute;
}

.about_text h3 {
    font-size: 16px;
    opacity: 0.7;
    position: absolute;
    top: 18px;
    left: 150px;
}

.about_text p {
    margin-top: 50px;
}

@media screen and (max-width:768px) {
    .container_about img {
        width: 40%;
        top: 30%;
        left: 3%;
    }

    .about_title h2 {
        font-size: 30PX;
        left: 35%;
    }

    .about_title h3 {
        left: 38%;
    }

    .about_title img {
        display: none;
    }

    .about_text {
        left: 55%;
    }

    .about_text h2 {
        font-size: 20px;
    }

    .about_text h3 {
        font-size: 10px;
        left: 40%;
    }

    .about_text p {
        font-size: 10px;
    }

}

/* ----------/about------------------------------------------------------------------ */

/* ----------skill------------------------------------------------------------------ */

.container_skill_title {
    position: relative;
    height: 700px;
}

.hr3 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 2%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);
}

.hr4 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 63%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);

}

.skill_title h2 {
    font-size: 40px;
    position: absolute;
    top: 7%;
    left: 41%;
    text-shadow: 1px 2px 3px #808080;
}

.skill_title h3 {
    font-size: 20px;
    position: absolute;
    top: 14%;
    left: 40.5%;
    text-shadow: 1px 2px 3px #808080;
}

.skill_title img {
    position: absolute;
    left: 720px;
    filter:drop-shadow(1px 2px 3px #a8a8a8);
}

.container_skill {
    display: flex;
    justify-content: space-around;
}

.skill {
    text-align: center;
    padding-top: 20%;
}

.skill img {
    opacity: 0.7;
}

.skill p {
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    
    .skill_title img {
        display: none;
    }

    .skill_title h2 {
        font-size: 30px;
    }

    .container_skill {
        display: inline-grid;
        column-gap: 4em;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        width: 100%;
    }

    .skill {
        padding-top: 70%;
    }
}

/* ----------/skill------------------------------------------------------------------ */

/* ----------work------------------------------------------------------------------ */

.container_work_title {
    position: relative;
    height: 800px;
}

.hr5 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 80px;
    left: 2%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);
}

.hr6 {
    border-top: 5px solid #07ebfd;
    width: 30%;
    position: absolute;
    top: 80px;
    left: 63%;
    filter:drop-shadow(1px 2px 3px #07edfd8f);
}

.work_title h2 {
    font-size: 40px;
    position: absolute;
    top: 7%;
    left: 40%;
    text-shadow: 1px 2px 3px #808080;
}

.work_title h3 {
    font-size: 20px;
    position: absolute;
    top: 13%;
    left: 37%;
    text-shadow: 1px 2px 3px #808080;
}

.work_title img {
    position: absolute;
    top: 25px;
    left: 730px;
    filter:drop-shadow(1px 2px 3px #a8a8a8);
}

.container_work {
    display: flex;
    justify-content: space-around;
}

.work {
    text-align: center;
    padding-top: 20%;
}

.work p {
    opacity: 0.6;
    margin-top: 20px;
}

.url {
    color: #000;
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .container_work_title {
        margin-top: 150px;
    }

    .container_work {
        display: flex;
        flex-flow: column;
    }

    .work_title h2 {
        font-size: 30px;
    }

    .work_title h3 {
        font-size: 15px;
        left: 35%;
    }

    .work {
        padding-top: 50px;
        margin-top: 100px;
    }
}

/* ----------/work------------------------------------------------------------------ */

/* ----------footer------------------------------------------------------------------ */

footer {
    position: relative;
}

.footer_title h2 {
    font-size: 40px;
    position: absolute;
    top: 59%;
    left: 44.5%;
    color: white;
    text-shadow: 1px 2px 3px #808080;
}

.footer_title h3 {
    font-size: 20px;
    position: absolute;
   top: 70%;
    left: 46%;
   /* top: 300px; */
    /* left: 660px; */
    color: white;
    text-shadow: 1px 2px 3px #808080;
}

.footer_title img {
    position: absolute;
    top: 130px;
    left: 658px;

}

@media screen and (max-width:768px) {
    footer {
        height: 500px;
    }

    .back-img {
        width: 100%;
        margin-top: 100%;
    }

    .footer_title h2 {
        font-size: 20px;
        top: 140%;
    }

    .footer_title h3 {

    }
    

}




/* ----------/footer------------------------------------------------------------------ */